{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
    {% endif %}
<div class="m-t-30 m-b-20">
                        <div class="col-xs-12 text-xs-center">
                            <h6 class="text-muted text-uppercase m-b-0 m-t-0">Сброс пароля</h6>
    <p class="text-muted m-b-0 font-13 m-t-20">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="form-horizontal m-t-30">{% csrf_token %}
        <div class="form-group">
                                <div class="col-xs-12">
                                    <p class="text-white">{% render_field form.errors %}</p>
                                </div>
        </div>
        <div class="form-group">
                                <div class="col-xs-12">
                                      {% render_field form.email  type="text" class="form-control" placeholder="Email" %}
                                </div>
        </div>
        <div class="form-group text-center m-t-20 m-b-0">
                                <div class="col-xs-12">
                                    <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Сброс</button>
                                </div>
                            </div>
    </form>
<div class="form-group text-center m-t-20 m-b-0">
                                <div class="col-xs-12">
    <p class="text-muted m-b-0 font-13 m-t-20">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                                </div>
</div>
{% endblock %}
