<!-- Выводим темы отсортированные по данному разделу -->
<div>
    <h1>Название Темы</h1>
<h3>{{ topic.title }}</h3>
    <h1> Создана</h1>
    <p>{{ topic.created }}</p>
    <h1>Описание Темы</h1>
<p>{{ topic.text }}</p>
</div>

<!-- Выводим сообщения по теме -->
<div>
    <h1>Сообщения:</h1>
    {% for foo in message %}
    <h3>Пользователь {{ foo.user }}</h3>
        <p>у пользователя {{ views.views }} сообщений</p>
    <p>Дата {{ foo.created }}</p>
        <h3>Оставил отзыв</h3>
    <p>{{ foo.text }}</p>
    {% endfor %}
</div>

<!-- Форма оставить отзыв -->
<div>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}
    <button>Отправить</button>
</form>
</div>
